<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:eth0izzle="https://github.com/eth0izzle/NLog.Slack/raw/master/NLog.Slack.xsd"
      autoReload="true"
      internalLogFile="c:\Logs\console-example-internal.log"
      internalLogLevel="Info" 
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Slack" />
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="fileTarget" fileName="c:\Logs\console-example.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}" />
    <target xsi:type="Console" name="consoleTarget"
            layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}" />

    <target xsi:type="eth0izzle:Slack"
            name="slackTarget"
            layout=""
            webHookUrl="https://hooks.slack.com/services/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"
            compact="false">
      <field name="" layout=":${level}: ${longdate} `${logger}` ${message}" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget,slackTarget" />
  </rules>
</nlog>